h2 {
  text-align: center;
  color: lawngreen;
  background-color: lightslategray;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 15px;
  padding: 8px;
}
nav li:hover {
  background-color: lightseagreen;
  border-radius: 10px;
}
nav li a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 2rem;
}
/* ?Nested menu styles */
nav li .dropdown {
  display: none;
}

nav li:hover > .dropdown {
  display: block;
  position: absolute;
  background-color: lightsalmon;
  padding-left: 15px;
}
