nav > ul > li{
    display: inline;
    margin-left: 60px;
}
nav li  a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bolder;
}
footer{
    text-align: center;
    font-size: larger;
    margin-top: 90px;
    color: blueviolet;
}
time{
    font-weight: bolder;
}