nav > ul > li{
    display: inline;
    margin-left: 60px;
}
nav li  a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bolder;
}
/* *color */
/* ?this */
/* todo for todo */
/* The CSS code for `footer` is styling the footer element of a webpage. */
footer{
    text-align: center;
    font-size: larger;
    margin-top: 90px;
    color: blueviolet;
}
time{
    font-weight: bolder;
}